djangorestframework
django-cors-headers
django-ckeditor-5
django-environ
django-cleanup
python-dotenv
djoser
django-db-logger
celery
redis

requests
pytils
django-colorfield

aiomysql
asyncpg

beautifulsoup4
unidecode

psycopg2-binary